html,
body {
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

#app {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

#date {
    width: 78.5%;
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
    justify-content: center;
    border: solid 3px black;
    margin-left: -224px;
    padding: 0px 0px;
    gap: 5px;
    text-align: center;
}

.jour {
    width: 12%;
    background-color: antiquewhite;
    transform: translate(40%, 0%);
}

#date>p {
    border: 1px solid;
}

#main {
    width: 70%;
    height: 75%;
    background-color: white;
    margin: -13px 117px 0 0;
    /* transform: translate(-19%,-1%); */
}

/**/
/* begin cal*/
.calendarBody {
    height: 100%;
    width: 100%;
}

.day {
    height: 100%;
    width: calc(100% / 7);
}

.task {
    width: 100%;
    height: calc(97% / 12);
    border: 1px solid;
    /* other styles */
}

/* end cal*/

/**/

.calendar {
    height: 100%;
    width: 100%;
}

#calendar {
    position: relative;
    z-index: 3;
}

#calendar1 {
    position: relative;
    top: -100%;
    z-index: 2;
}

#calendarBody {
    display: flex;
    flex-direction: row;
}

#calendarBody1 {
    display: flex;
    flex-direction: row;
}

.droptarget {
    height: 100%;
    width: calc(100% / 7);
    display: flex;
    flex-direction: column;
    position: relative;
}

.draggable {
    height: calc(100% / 12);
    width: calc(100% - 10px);
    background-color: rgb(54, 167, 233);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    resize: vertical;
    overflow: hidden;
    border: solid 3px black;
    left: 2.5px;
    border-radius: 25px;
}

.draggable_Child {
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    position: relative;
    /* border:solid 5px black; */
}


.deleter {
    width: 25%;
    aspect-ratio: 1;
    background: url('../Images/x_bar.png');
    background-position: 10% 10%;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    right: 0;
    border: solid 2px antiquewhite;
    cursor: pointer;
    background-color: red;
}

.deleter:hover {
    background-color: red;
}

.time {
    border: solid 3px black;
    position: absolute;
    width: 100px;
    height: 443px;
    left: 22.5px;
    top: 104px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    border-top: transparent;
}

.right {
    position: absolute;
    width: 17%;
    height: 528px;
    border: solid 3px black;
    right: 15px;
    top: 17px;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.up{
    width:75%;
    height:20%;
    border: solid 2px white;
    display: flex;
    place-content: center;
    align-items: center;
}
.down{
    width:75%;
    height:65%;
    border: solid 2px white;
    display: flex;
    place-content: center;
    align-items: center;
}