html, body {
    height: 100%;
}

* {
    margin : 0px;
    padding : 0px;
    border : 0px;
}

main {
    display : flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

main > div {
    border : 2px black solid;
}

#secteurs {
    min-width: 20%;
}

#tables {
    min-width: 10%;
}


#liste_secteurs, #liste_tables {
    display : flex;
    flex-direction: column;
    justify-content: center;
}

.option {
    display : flex;
    justify-content: start;
}


.table {
    display: flex;
    flex-direction: row;
}

.secteur {

}

.secteur_select {
    background-color: gray;
}