* {
  font-family: cursive;
}

.floating_header {
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: var(--third-color);
}

.floating_header_after_width {
  width: 10%;
}

.floating_header_after {
  position: fixed;
  top: 2vh;
  left: 2vw;
}

.floating_header>div {
  border: 2px solid var(--first-color);
  transform: skew(-20deg);
  padding: .5em 1em;
}

:root {
  --first-color: antiquewhite;
  --second-color: white;
  --third-color: rgba(255, 68, 0, 0.5);
  --sixth-color: rgba(0, 0, 0, 0);
  --sixth-color: antiquewhite;
}

body {
  background-color: antiquewhite;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--third-color);
  border-radius: 1em;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: var(--second-color);
}

section {
  width: 100%;
  display: flex;
  place-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

header {
  background-image: url('/Queen-Burger/Images/bg.png');
  background-position: -40px -40px;
  background-size: 203%;
  border-radius: 50%;
  background-color: var(--sixth-color);
  /*! width: 4.5em; */
  /*! aspect-ratio: 1; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  overflow: hidden;
  align-items: center;
  margin: 1em 1em;
  position: relative;
  border: solid 10px var(--second-color);
  cursor: pointer;
}

header * {
  border: 2px solid var(--first-color);
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
  transform: skewX(-15deg);
}

.header_bg {
  background-image: url('/Queen-Burger/Images/bg.png');
  background-size: cover;
  border-radius: 40px;
  width: 55%;
  transition: 1s;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow: hidden;
  align-items: center;
  margin: 1em 1em;
  position: relative;
}

.header_bg * {
  padding: 1em;
  transform: skewX(-15deg);
  border-radius: 50px;
  display: flex;
  place-content: center;
  align-items: center;
}

.header_return {
  transition: 1s;
}

#core {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

#core>div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 10px;
}

.L70percent {
  width: 30%;
  border-radius: 40px;
  display: flex;
  place-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  transition: width 0.5s ease-in-out;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.tables {
  width: 300px;
}

.L30percent {
  width: 30%;
  padding: 0px 5px;
  border-radius: 40px;
  box-sizing: border-box;
  transition: width 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.add-table-btn,
.delete-table-btn {
  border: none;
  background-color: var(--second-color);
  color: var(--first-color);
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-table-btn:hover,
.delete-table-btn:hover {
  background-color: var(--fifth-color);
  color: var(--second-color);
}

#tables-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  margin-top: 5em;
  align-content: center;
  flex-wrap: wrap;
  transform: translate(-25px, -16px);
}

.table {
  border: 2px solid white;
  margin: 10px;
  border-radius: 10px;
  flex: 1 1 calc(25% - 20px);
}

.table:nth-of-type(n+10) {
  display: none;
}

.table-buttons {
  display: flex;
  align-items: center;
}

.add-table-btn,
.delete-table-btn {
  border: none;
  background-color: var(--second-color);
  color: var(--fifth-color);
  padding: 10px 20px;
  margin-right: 1em;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 45%;
  height: 10%;
  margin: 0px 2.5px;
  display: flex;
  place-content: center;
  align-items: center;
}

.add-table-btn {
  position: absolute;
  top: 10px;
  left: 10px;
}

.delete-table-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.table {
  display: flex;
  place-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.L70_30 {
  gap: 1px;
}

p {
  color: var(--fifth-color);
}

@media screen and (min-width: 768px) {

  body {
    font-size: 1.2em;
  }

  header {
    height: 80px;
    padding: 35px;
  }

  .logo {
    font-size: 2.5em;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
  }

  nav li {
    margin: 0 15px;
  }

  .services img,
  .gallery img {
    width: 400px;
    height: 300px;
  }
}

@media screen and (min-width: 992px) {

  body {
    font-size: 1.3em;
  }

  header {
    height: 16px;
    width: 16px;
  }

  .logo {
    font-size: 3em;
  }

  nav ul {
    width: 70%;
  }

  nav li {
    margin: 0 25px;
  }

  .services img,
  .gallery img {
    width: 500px;
    height: 350px;
  }
}

.descriprionHome {
  overflow-wrap: break-word;
  padding: 30px;
  font-size: 16px;
  line-height: 1.7em;
  font-weight: 700;
  box-sizing: border-box;
  border: 3px dotted antiquewhite;
  border-radius: 45px;
  background:black;
  color:antiquewhite;
}

.nbTables {
  overflow-wrap: break-word;
  padding: 30px;
  font-size: 16px;
  line-height: 1.7em;
  font-weight: 700;
  box-sizing: border-box;
  transform: translate(15px, -60px);
}

#total-tables {
  color: var(--second-color);
}

.headerContainer {
  display: flex;
  place-content: center;
  align-items: center;
  justify-content: center;
}

.buttonsUp {
  display: flex;
  place-content: center;
  align-items: center;
  justify-content: space-around;
  align-content: space-around;
}

.buttonCalendar {
  padding: 10px 20px;
  font-size: 18px;
  background-color: var(--second-color);
  border: solid 2px var(--fifth-color);
  cursor: pointer;
  border-radius: 50% 50% 0% 0%;
  margin: 1em;
}

.buttonCalendar:hover {
  padding: 10px 20px;
  font-size: 18px;
  background-color: var(--fifth-color);
  border: solid 2px var(--second-color);
  cursor: pointer;
  border-radius: 50% 50% 0% 0%;
  margin: 1em;
}

a {
  text-decoration: none;
  color: var(--fifth-color);
}

.buttonCalendar:hover a {
  color: var(--second-color);
}

.burgerButton {
  border: solid 2px var(--fifth-color);
  background-color: var(--second-color);
  color: var(--fifth-color);
  border-radius: 50px;
  width: 115px;
}

.burgerButton:hover {
  border: solid 2px var(--first-color);
  background-color: var(--fifth-color);
  color: black;
  border:solid 2px white;
}

/* Float Shadow */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}

.hvr-float-shadow:hover,
.hvr-float-shadow:focus,
.hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}

.hvr-float-shadow:hover:before,
.hvr-float-shadow:focus:before,
.hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

.recettePIC {
  background-position: 50% 50%;
  background-size: 100%;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  align-items: center;
  height: -webkit-fill-available;
  background-repeat: no-repeat;
  width: 50%;
}

.recette {
  background-color: rgba(255,255,255,0.3);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  font-size: x-small;
}

.recette h2 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.recette ul {
  list-style-type: none;
  padding: 0;
  margin: -8px;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.recette li {
  flex: 1 1 50%;
  margin-bottom: 3px;
  transform: translate(8%, 0%);
}

.recette li::before {
  content: "•";
  color: #ff6347;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.recette li:last-child {
  margin-bottom: 0;
}

.cheeseburger {
  background-image: url(/Queen-Burger/Images/cheeseburger.png);
}

.hamburger {
  background-image: url(/Queen-Burger/Images/hamburger.png);
}

.Veggie-Burger {
  background-image: url(/Queen-Burger/Images/Veggie-Burger.png);
}

.Bacon-Cheeseburger {
  background-image: url(/Queen-Burger/Images/Bacon-Cheeseburger.png);
}

.Double-Cheeseburger {
  background-image: url(/Queen-Burger/Images/Double-Cheeseburger.png);
}

.Chicken-Burger {
  background-image: url(/Queen-Burger/Images/Chicken-Burger.png);
}

.Fish-Burger {
  background-image: url(/Queen-Burger/Images/Bacon-Cheeseburger.png);
}

#core>h2:nth-child(3) {
  background-color: white;
  width: 50%;
  text-align: center;
  transform: translate(50%, 0%);
  border-radius: 45px;
}

#header > button:nth-child(6){
  background :red;
  border:solid 1px white;
  color :antiquewhite;
}
#header > button:nth-child(6):hover{
  background :antiquewhite;
  border:solid 2px white;
  color :black;
}

script{
  position:absolute;
  border:none;
}

#core > div:nth-child(1) > div.L70percent{
  width:70%;
}