* {
    margin : 0;
    padding: 0;
    border : 0;
}

html {
    height: 100vh;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: red;
    border: solid 2px;
    border-radius: 50px;
    height: 40vh;
    width: 30vh;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    font-size: 1.2em;
}

div:first-of-type {
    border-top: solid 2px black;
}

div {
    padding: 5%;
    display: flex;
    flex-direction: column;
    border-bottom: solid 2px black;
}

div label {
    padding-left: 10%;
}

div input {
    border-radius: 8px;
    font-size: 1em;
    padding: 2px;
}